@model SliderCreateVM;
@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Slider</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text"></label>
                <input asp-for="Text" class="form-control">
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="left">Left</label>
                <input asp-for="IsLeft" value="0" type="radio" id="left">
               
                <label for="right">Right</label>
                <input asp-for="IsLeft" value="1" type="radio" id="right">
                <br />
                <span asp-validation-for="IsLeft" class="text-danger"></span>
            </div>
            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div>


 @* <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Slider</h6>
    </div>
    <div class="card-body">

        <form action="" method="post">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input id="Title" type="text" class="form-control" name="Title">

            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input id="Description" type="text" class="form-control" name="Description">

            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">ImageUrl</label>
                <input id="ImageUrl" type="text" class="form-control" name="ImageUrl">

            </div>

            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div> 
 *@